Repository apache/skywalking-website, pull requests merged in 2020-11, with the labels that each got.

#124 Add 8.2.0 release Chinese blog
  docs/zh/blog/2020-10-29-skywalking8-2-release.md
  docs/zh/blog/README.md
Labels: blog-cn

#130 Add swck 0.1.0 release
  docs/.vuepress/config.js
  docs/README.md
  docs/downloads/README.md
  docs/events/README.md
  docs/zh/README.md
  docs/zh/downloads/README.md
  docs/zh/events/README.md
Labels: event

#144 Set up GHA to deploy site
  .github/workflow/deploy.yaml
Labels: chore

#145 Fix the docs page 404 link
  themes/docsy/layouts/docs/baseof.html
Labels: bug

#152 skywalking-satellite-design
  content/blog/2020-11-25-skywalking-satellite-0.1.0-design/DataFlow.png
  content/blog/2020-11-25-skywalking-satellite-0.1.0-design/Processor.jpg
  content/blog/2020-11-25-skywalking-satellite-0.1.0-design/Satellite.png
  content/blog/2020-11-25-skywalking-satellite-0.1.0-design/Sender.jpg
  content/blog/2020-11-25-skywalking-satellite-0.1.0-design/core-modules.jpg
  content/blog/2020-11-25-skywalking-satellite-0.1.0-design/detail-modules.jpg
  content/blog/2020-11-25-skywalking-satellite-0.1.0-design/gatherer.jpg
  content/blog/2020-11-25-skywalking-satellite-0.1.0-design/index.md
  content/blog/2020-11-25-skywalking-satellite-0.1.0-design/meta.jpg
  content/blog/2020-11-25-skywalking-satellite-0.1.0-design/offset-convert.jpg
  content/blog/2020-11-25-skywalking-satellite-0.1.0-design/segments.jpg
Labels: blog-en

#155 add-satellite-card
  themes/docsy/layouts/docs/baseof.html
Labels: event

#157 CLI 0.5.0 Release Event
  content/events/release-apache-skywalking-cli-0-5-0/index.md
  data/releases.yml
Labels: event
