Repository apache/skywalking-website, pull requests merged in 2020-12, with the labels that each got.

#160 Add blog "observe service mesh with sw and als"
  content/blog/2020-12-03-obs-service-mesh-with-sw-and-als/Screen-Shot-2020-12-02-at-2.25.17-PM.png
  content/blog/2020-12-03-obs-service-mesh-with-sw-and-als/Screen-Shot-2020-12-02-at-2.37.49-PM.png
  content/blog/2020-12-03-obs-service-mesh-with-sw-and-als/Screen-Shot-2020-12-02-at-2.43.16-PM.png
  content/blog/2020-12-03-obs-service-mesh-with-sw-and-als/Screen-Shot-2020-12-02-at-2.46.56-PM.png
  content/blog/2020-12-03-obs-service-mesh-with-sw-and-als/Screen-Shot-2020-12-02-at-3.01.03-PM.png
  content/blog/2020-12-03-obs-service-mesh-with-sw-and-als/Screen-Shot-2020-12-02-at-3.05.24-PM.png
  content/blog/2020-12-03-obs-service-mesh-with-sw-and-als/Screen-Shot-2020-12-02-at-3.11.55-PM.png
  content/blog/2020-12-03-obs-service-mesh-with-sw-and-als/canyonhorseshoe.jpg
  content/blog/2020-12-03-obs-service-mesh-with-sw-and-als/index.md
Labels: blog-en

#174 Add cn blog about Summer2020
  content/zh/2020-12-19-summer2020-activity-sharing/award.png
  content/zh/2020-12-19-summer2020-activity-sharing/committer.png
  content/zh/2020-12-19-summer2020-activity-sharing/index.md
  content/zh/2020-12-19-summer2020-activity-sharing/step_out_of_your_comfort_zone.png
Labels: blog-cn

#172 blog: add the design doc of NGE2E
  content/blog/e2e-design/index.md
Labels: blog-en

#175 update the committer events
  content/events/welcome-gui-cao-as-new-committer/index.md
  content/events/welcome-huaxi-jiang-as-new-committer/index.md
  content/events/welcome-ke-zhang-as-new-committer/index.md
Labels: event

#182 Blog, Celebrate SkyWalking single repository hits the 300 contributors mark
  content/blog/2021-01-01-300-contributors-mark/300-contributors.png
  content/blog/2021-01-01-300-contributors-mark/community-metrics.png
  content/blog/2021-01-01-300-contributors-mark/index.md
  content/blog/2021-01-01-300-contributors-mark/metrics-of-community.png
  content/blog/2021-01-01-300-contributors-mark/website-access.png
Labels: blog-en

#188 Release new for SkyWalking-Python 0.5.0
  content/events/release-apache-skywalking-python-0-5-0/index.md
  data/releases.yml
Labels: event

#190 Release news for SkyWalking-NodeJS 0.1.0
  content/events/release-apache-skywalking-nodejs-0-1-0/index.md
  data/docs.yml
  data/releases.yml
Labels: event
