Repository apache/skywalking-website, pull requests merged in 2021-11, with the labels that each got.

#350 Release Apache Satellite 0.3.0
  content/events/release-apache-skwaylking-satellite-0-3-0/index.md
  data/docs.yml
  data/releases.yml
Labels: event

#349 Release swck 0.4.0
  content/events/release-apache-skywalking-cloud-on-kubernetes-0-4-0/index.md
  data/docs.yml
  data/releases.yml
Labels: event

#356 Release SkyWalking Infra E2E 1.1.0
  content/events/release-apache-skywalking-infra-e2e-1-1-0/index.md
  data/docs.yml
  data/releases.yml
Labels: event

#358 add IoTDB storage option design blog
  content/blog/2021-11-23-design-of-iotdb-storage-option/index.md
Labels: blog-en

#360 增加中文博客 Chaos Mesh X SkyWalking: 可观测的混沌工程
  content/zh/2021-11-29-better-observability-for-chaos-engineering/1.jpg
  content/zh/2021-11-29-better-observability-for-chaos-engineering/2.jpg
  content/zh/2021-11-29-better-observability-for-chaos-engineering/3.jpg
  content/zh/2021-11-29-better-observability-for-chaos-engineering/4.jpg
  content/zh/2021-11-29-better-observability-for-chaos-engineering/5.jpg
  content/zh/2021-11-29-better-observability-for-chaos-engineering/6.jpg
  content/zh/2021-11-29-better-observability-for-chaos-engineering/7.jpg
  content/zh/2021-11-29-better-observability-for-chaos-engineering/index.md
Labels: blog-cn
