Repository apache/skywalking-website, pull requests merged in 2022-12, with the labels that each got.

#541 Release OAP server 9.3.0
  content/events/release-apache-skywalking-apm-9.3.0/apisix.png
  content/events/release-apache-skywalking-apm-9.3.0/index.md
  content/events/release-apache-skywalking-apm-9.3.0/metric-1.png
  content/events/release-apache-skywalking-apm-9.3.0/metric-2.png
  content/events/release-apache-skywalking-apm-9.3.0/sharding.png
  content/events/release-apache-skywalking-apm-9.3.0/virtual-cache.png
  content/events/release-apache-skywalking-apm-9.3.0/virtual-mq.png
  data/docs.yml
  data/releases.yml
Labels: event

#540 new blog: SkyWalking 基于 ShardingSphere-Proxy 的 MySQL-Sharding 分库分表的存储特性介绍
  content/zh/skywalking-shardingsphere-proxy/arch.jpg
  content/zh/skywalking-shardingsphere-proxy/f1.jpg
  content/zh/skywalking-shardingsphere-proxy/f2.jpg
  content/zh/skywalking-shardingsphere-proxy/index.md
  content/zh/skywalking-shardingsphere-proxy/sql.jpg
Labels: blog-cn

#546 Add blog to run skywalking on AWS
  content/blog/2022-12-13-how-to-run-apache-skywalking-on-aws-eks-rds/index.md
  content/blog/2022-12-13-how-to-run-apache-skywalking-on-aws-eks-rds/outputs/aurora/test1-cpm-locust.png
  content/blog/2022-12-13-how-to-run-apache-skywalking-on-aws-eks-rds/outputs/aurora/test1-cpm-skywalking.png
  content/blog/2022-12-13-how-to-run-apache-skywalking-on-aws-eks-rds/outputs/aurora/test1-postgresql-1.png
  content/blog/2022-12-13-how-to-run-apache-skywalking-on-aws-eks-rds/outputs/aurora/test1-postgresql-2.png
  content/blog/2022-12-13-how-to-run-apache-skywalking-on-aws-eks-rds/outputs/aurora/test1-postgresql-3.png
  content/blog/2022-12-13-how-to-run-apache-skywalking-on-aws-eks-rds/outputs/aurora/test1-so11y-1.png
  content/blog/2022-12-13-how-to-run-apache-skywalking-on-aws-eks-rds/outputs/aurora/test1-so11y-2.png
  content/blog/2022-12-13-how-to-run-apache-skywalking-on-aws-eks-rds/outputs/aurora/test1-so11y-3.png
  content/blog/2022-12-13-how-to-run-apache-skywalking-on-aws-eks-rds/outputs/aurora/test1-so11y-4.png
  content/blog/2022-12-13-how-to-run-apache-skywalking-on-aws-eks-rds/outputs/aurora/test1-so11y-5.png
  content/blog/2022-12-13-how-to-run-apache-skywalking-on-aws-eks-rds/outputs/postgresql/test1-cpm-locust.png
  content/blog/2022-12-13-how-to-run-apache-skywalking-on-aws-eks-rds/outputs/postgresql/test1-cpm.png
  content/blog/2022-12-13-how-to-run-apache-skywalking-on-aws-eks-rds/outputs/postgresql/test1-postgresql-1.png
  content/blog/2022-12-13-how-to-run-apache-skywalking-on-aws-eks-rds/outputs/postgresql/test1-postgresql-2.png
  content/blog/2022-12-13-how-to-run-apache-skywalking-on-aws-eks-rds/outputs/postgresql/test1-postgresql-3.png
  content/blog/2022-12-13-how-to-run-apache-skywalking-on-aws-eks-rds/outputs/postgresql/test1-so11y-1.png
  content/blog/2022-12-13-how-to-run-apache-skywalking-on-aws-eks-rds/outputs/postgresql/test1-so11y-2.png
  content/blog/2022-12-13-how-to-run-apache-skywalking-on-aws-eks-rds/outputs/postgresql/test1-so11y-3.png
  content/blog/2022-12-13-how-to-run-apache-skywalking-on-aws-eks-rds/outputs/postgresql/test1-so11y-4.png
  content/blog/2022-12-13-how-to-run-apache-skywalking-on-aws-eks-rds/outputs/postgresql/test1-so11y-5.png
  content/blog/2022-12-13-how-to-run-apache-skywalking-on-aws-eks-rds/outputs/postgresql/test2-cpm-locust.png
  content/blog/2022-12-13-how-to-run-apache-skywalking-on-aws-eks-rds/outputs/postgresql/test2-cpm.png
  content/blog/2022-12-13-how-to-run-apache-skywalking-on-aws-eks-rds/outputs/postgresql/test2-postgresql-1.png
  content/blog/2022-12-13-how-to-run-apache-skywalking-on-aws-eks-rds/outputs/postgresql/test2-postgresql-2.png
  content/blog/2022-12-13-how-to-run-apache-skywalking-on-aws-eks-rds/outputs/postgresql/test2-postgresql-3.png
  content/blog/2022-12-13-how-to-run-apache-skywalking-on-aws-eks-rds/outputs/postgresql/test2-so11y-1.png
  content/blog/2022-12-13-how-to-run-apache-skywalking-on-aws-eks-rds/outputs/postgresql/test2-so11y-2.png
  content/blog/2022-12-13-how-to-run-apache-skywalking-on-aws-eks-rds/outputs/postgresql/test2-so11y-3.png
  content/blog/2022-12-13-how-to-run-apache-skywalking-on-aws-eks-rds/outputs/postgresql/test2-so11y-4.png
  content/blog/2022-12-13-how-to-run-apache-skywalking-on-aws-eks-rds/outputs/postgresql/test2-so11y-5.png
  content/blog/2022-12-13-how-to-run-apache-skywalking-on-aws-eks-rds/outputs/postgresql/test2-so11y-6.png
Labels: blog-en

#547 Add a blog
  content/zh/2022-12-13-how-to-run-apache-skywalking-on-aws-eks-rds/index.md
  content/zh/2022-12-13-how-to-run-apache-skywalking-on-aws-eks-rds/outputs/aurora/test1-cpm-locust.png
  content/zh/2022-12-13-how-to-run-apache-skywalking-on-aws-eks-rds/outputs/aurora/test1-cpm-skywalking.png
  content/zh/2022-12-13-how-to-run-apache-skywalking-on-aws-eks-rds/outputs/aurora/test1-postgresql-1.png
  content/zh/2022-12-13-how-to-run-apache-skywalking-on-aws-eks-rds/outputs/aurora/test1-postgresql-2.png
  content/zh/2022-12-13-how-to-run-apache-skywalking-on-aws-eks-rds/outputs/aurora/test1-postgresql-3.png
  content/zh/2022-12-13-how-to-run-apache-skywalking-on-aws-eks-rds/outputs/aurora/test1-so11y-1.png
  content/zh/2022-12-13-how-to-run-apache-skywalking-on-aws-eks-rds/outputs/aurora/test1-so11y-2.png
  content/zh/2022-12-13-how-to-run-apache-skywalking-on-aws-eks-rds/outputs/aurora/test1-so11y-3.png
  content/zh/2022-12-13-how-to-run-apache-skywalking-on-aws-eks-rds/outputs/aurora/test1-so11y-4.png
  content/zh/2022-12-13-how-to-run-apache-skywalking-on-aws-eks-rds/outputs/aurora/test1-so11y-5.png
  content/zh/2022-12-13-how-to-run-apache-skywalking-on-aws-eks-rds/outputs/postgresql/test1-cpm-locust.png
  content/zh/2022-12-13-how-to-run-apache-skywalking-on-aws-eks-rds/outputs/postgresql/test1-cpm.png
  content/zh/2022-12-13-how-to-run-apache-skywalking-on-aws-eks-rds/outputs/postgresql/test1-postgresql-1.png
  content/zh/2022-12-13-how-to-run-apache-skywalking-on-aws-eks-rds/outputs/postgresql/test1-postgresql-2.png
  content/zh/2022-12-13-how-to-run-apache-skywalking-on-aws-eks-rds/outputs/postgresql/test1-postgresql-3.png
  content/zh/2022-12-13-how-to-run-apache-skywalking-on-aws-eks-rds/outputs/postgresql/test1-so11y-1.png
  content/zh/2022-12-13-how-to-run-apache-skywalking-on-aws-eks-rds/outputs/postgresql/test1-so11y-2.png
  content/zh/2022-12-13-how-to-run-apache-skywalking-on-aws-eks-rds/outputs/postgresql/test1-so11y-3.png
  content/zh/2022-12-13-how-to-run-apache-skywalking-on-aws-eks-rds/outputs/postgresql/test1-so11y-4.png
  content/zh/2022-12-13-how-to-run-apache-skywalking-on-aws-eks-rds/outputs/postgresql/test1-so11y-5.png
  content/zh/2022-12-13-how-to-run-apache-skywalking-on-aws-eks-rds/outputs/postgresql/test2-cpm-locust.png
  content/zh/2022-12-13-how-to-run-apache-skywalking-on-aws-eks-rds/outputs/postgresql/test2-cpm.png
  content/zh/2022-12-13-how-to-run-apache-skywalking-on-aws-eks-rds/outputs/postgresql/test2-postgresql-1.png
  content/zh/2022-12-13-how-to-run-apache-skywalking-on-aws-eks-rds/outputs/postgresql/test2-postgresql-2.png
  content/zh/2022-12-13-how-to-run-apache-skywalking-on-aws-eks-rds/outputs/postgresql/test2-postgresql-3.png
  content/zh/2022-12-13-how-to-run-apache-skywalking-on-aws-eks-rds/outputs/postgresql/test2-so11y-1.png
  content/zh/2022-12-13-how-to-run-apache-skywalking-on-aws-eks-rds/outputs/postgresql/test2-so11y-2.png
  content/zh/2022-12-13-how-to-run-apache-skywalking-on-aws-eks-rds/outputs/postgresql/test2-so11y-3.png
  content/zh/2022-12-13-how-to-run-apache-skywalking-on-aws-eks-rds/outputs/postgresql/test2-so11y-4.png
  content/zh/2022-12-13-how-to-run-apache-skywalking-on-aws-eks-rds/outputs/postgresql/test2-so11y-5.png
  content/zh/2022-12-13-how-to-run-apache-skywalking-on-aws-eks-rds/outputs/postgresql/test2-so11y-6.png
Labels: blog-cn
