Repository apache/skywalking-website, pull requests merged in 2023-12, with the labels that each got.

#664 Add yesterday broadcast - Apache SkyWalking with Sheng Wu and Apache ShardingSphere with Trista Pan
  content/blog/2023-12-04-coffee+software-with-josh-long/index.md
Labels: blog-en

#665 Add blog: monitoring-nginx-by-skywalking.
  content/zh/2023-12-23-monitoring-nginx-by-skywalking/index.md
  content/zh/2023-12-23-monitoring-nginx-by-skywalking/nginx-log.png
  content/zh/2023-12-23-monitoring-nginx-by-skywalking/nginx-metric.png
Labels: blog-cn

#666 Add blog: monitoring-nginx-by-skywalking (en).
  content/blog/2023-12-23-monitoring-nginx-by-skywalking/index.md
  content/blog/2023-12-23-monitoring-nginx-by-skywalking/nginx-log.png
  content/blog/2023-12-23-monitoring-nginx-by-skywalking/nginx-metric.png
Labels: blog-en

#667 Add Kapa.ai to SkyWalking Website
  README.md
  themes/docsy/layouts/partials/scripts.html
Labels: enhancement
